@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;1,9..40,400;1,9..40,700&display=swap");

:root {
  --font: "poppins", sans-serif;
  --font-color: #212529;
  --font-color-second: #7a7a7a;
  --font-color-hover: #1f5ed1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
}
body {
  font-family: var(--font);
  color: #212529;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 2.5rem 14%;
  background-color: #fff;
  /* box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15); */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
nav.active {
  padding: 1.5rem 14%;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}
nav .nav-left a {
  color: var(--font-color);
  font-weight: 600;
}
nav .nav-right a {
  margin-left: 2rem;
  color: var(--font-color-second);
  font-weight: 500;
  display: inline-block;
}
nav .nav-right a:hover {
  color: var(--font-color-hover);
}
nav .nav-right a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--font-color-hover);
  transform: scaleX(0);
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transition: 0.2s linear;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -ms-transition: 0.2s linear;
  -o-transition: 0.2s linear;
}
nav .nav-right a:hover::after {
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
}

/* home */
.content {
  padding: 9rem 14%;
  display: flex;
  justify-content: space-between;
}
.home-left {
  margin-top: 8rem;
  padding: 0 8rem 0 0;
}
.home-left .hello {
  font-size: 2rem;
}
.home-left .pe {
  margin-top: 0.3rem;
  font-size: 1.1rem;
  color: #1f5ed1;
}
.home-left .pe-desc {
  margin-top: 0.5rem;
  margin-bottom: 2.5rem;
  font-size: 0.9rem;
  color: #535353;
}
.btn {
  color: #fff;
  border: 1px solid var(--font-color-hover);
  padding: 0.7rem 1.8rem;
  background-color: var(--font-color-hover);
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.btn:hover {
  background-color: #2f88d1;
}
.home-right {
  width: 100%;
  height: auto;
  position: relative;
}

.home-right img {
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.4); */
  width: 100%;
  height: auto;
}
/* Buat animasi untuk particle image */
.animation-icon {
  width: 25% !important;
  height: auto !important;
  position: absolute;
  transform: translateY(5px);
  animation: icon 2s infinite;
  -webkit-animation: icon 2s infinite alternate;
  -webkit-transform: translateY(5px);
  -moz-transform: translateY(5px);
  -ms-transform: translateY(5px);
  -o-transform: translateY(5px);
}
@keyframes icon {
  to {
    transform: translateY(10px);
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
  }
}
.animation-icon:nth-child(1) {
  left: -65px;
  bottom: 12%;
}

.animation-icon:nth-child(2) {
  right: -50px;
  bottom: 30%;
}

.animation-icon:nth-child(3) {
  left: -50px;
  top: 15%;
}

/* about */
.about {
  padding: 5rem 20%;
  display: flex;
  justify-content: space-between;
}
#about h1,
#skill h1,
#project h1,
#contact h1 {
  margin-top: 6rem;
  text-align: center;
  font-size: 2rem;
}
.about-left {
  flex: 1 1 45rem;
}

.about-left img {
  background-size: cover;
  background-position: center center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.about-right {
  flex: 1 1 45rem;
}
.about-right p {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  line-height: 150%;
}
.about-right .cheers {
  margin-bottom: 2rem;
}
/* education */
ul {
  list-style-type: none;
}
.education-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1.4rem 25%;
}
.education,
.experience {
  margin-bottom: 2rem;
}
.education .education-title-wrapper,
.experience .experience-title-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

.list {
  font-size: 1rem;
  margin-left: 3rem;
  list-style-type: none;
}
.item {
  position: relative;
}
.item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.item-title {
  font-size: 1rem;
  line-height: 1.3;
  margin-bottom: 0.7rem;
}
.list span {
  font-weight: 400;
  color: gray;
  line-height: 1.6;
}
.item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -24px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: hsl(0, 0%, 22%);
}
.item::after {
  content: "";
  position: absolute;
  top: 9px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: gray;
  border-radius: 50%;
  box-shadow: 0 0 0 4px hsl(0, 0%, 22%);
}
#btn-back-to-top {
  font-family: var(--font);
  position: fixed;
  bottom: 40px;
  right: 10px;
  padding: 0.9rem 1.3rem;
  background-color: var(--font-color-hover);
  color: #fff;
  cursor: pointer;
  display: none;
  animation: pulse 3s infinite;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
#btn-back-to-top:hover {
  background-color: #2f88d1;
}
/* Skill */
.skill {
  padding: 1rem 14% 1rem 14%;
  margin: 0;
}
#about > p,
#skill p,
#project > p,
#contact > p {
  padding: 0.5rem 14%;
  font-family: "DM Sans", sans-serif;
  font-size: 1.1rem;
  line-height: 150%;
  text-align: center;
  color: var(--font-color-second);
}
.skill .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4); */
  /* padding: 3rem 5rem; */
  /* border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem; */
}
.skill .col {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  /* flex: 1 1 10%; */
  padding: 1rem 5rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  margin: 1rem 1rem;
}
.skill .language {
  width: 80px;
  height: auto;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  opacity: 0.5;
}
.skill .language:hover {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  opacity: 1;
}

/* My Project */
.project {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 14%;
}
.project .box {
  flex: 1 1 40%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding: 1.5rem 1rem;
  margin: 1rem 2rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.project .box h3 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.project .box .project-desc {
  font-family: "DM Sans", sans-serif;
  font-size: 0.9rem;
}
.project .box .project-language {
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;
  font-size: 0.8rem;
}
.project .box .project-language > p {
  margin-right: 0.5rem;
}
.project .box .project-language p {
  border: 1px solid #e4e4e7;
  background-color: #e4e4e7;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.project .box .project-link {
  /* display: flex;
  justify-content: flex-end; */
  margin-top: 1rem;
}
.project .box .project-link a {
  font-size: 0.8rem;
  font-family: "DM Sans", sans-serif;
  color: var(--font-color);
  border: 1px solid var(--font-color-hover);
  background-color: var(--font-color-hover);
  color: #fff;
  padding: 0.2rem 1rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.project .box .project-link a:hover {
  background-color: #2f88d1;
}
/* Contact */
.contact {
  display: flex;
  justify-content: space-between;
  padding: 5rem 14%;
}

.contact .contact-right .btn {
  margin-top: 1rem;
  cursor: pointer;
  font-family: var(--font);
}
.contact .contact-left {
  margin-top: 1rem;
}
.contact .contact-left {
  height: auto;
}
.input-form {
  display: block;
  font-family: var(--font);
  font-size: 1rem;
  width: 100%;
  margin-bottom: 0.5rem;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  padding: 0.8rem;
  border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
textarea:focus,
input:focus {
  border: 1px solid var(--font-color-hover);
  outline: none;
}
/* Footer */
footer {
  background-color: var(--font-color-hover);
  color: #fff;
}
.footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 3rem 20%;
}
.footer-wrapper .footer-left h2,
.footer-wrapper .footer-right h2,
.footer-wrapper .footer-mid h2 {
  margin-bottom: 0.4rem;
}
.footer-wrapper .footer-mid .menu,
.footer-wrapper .footer-right .social-media {
  display: flex;
  flex-direction: column;
}
.footer-wrapper .footer-mid .menu a,
.footer-wrapper .footer-right .social-media a {
  color: #fff;
  margin-bottom: 0.2rem;
}
.footer-wrapper .footer-mid .menu a:hover,
.footer-wrapper .footer-right .social-media a:hover {
  color: rgba(203, 225, 222, 0.686);
}
footer .cr {
  padding: 1rem;
  text-align: center;
}

/* Navbar Mobile */
.hamburger {
  position: relative;
  display: block;
  width: 40px;
  cursor: pointer;
  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--font-color-second);
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 0.9rem;
  -webkit-border-radius: 0.9rem;
  -moz-border-radius: 0.9rem;
  -ms-border-radius: 0.9rem;
  -o-border-radius: 0.9rem;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 60%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #fff;
  padding-top: 120px;
  padding-left: 1.7rem;
  transition: 0.4s;
  /* margin-bottom: 10rem; */
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a {
  font-size: 0.8rem;
  display: block;
  width: 120%;
  max-width: 200px;
  margin: 0 auto 1rem;
  text-align: center;
  padding: 1rem 1rem;
  background-color: var(--font-color-hover);
  border-radius: 0.5rem;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
}
.mobile-nav .contact-home {
  margin-top: 10rem;
}

.mobile-nav a:hover {
  background-color: #2f88d1;
}
@media screen and (min-width: 750px) and (max-width: 1024px) {
  .content {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .content .home-left {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2rem;
    padding: 0;
  }
  .content .home-left .hello {
    font-size: 2.5rem;
  }
  .content .home-left .pe {
    font-size: 2rem;
  }
  .content .home-left .pe-desc {
    font-size: 1.2rem;
  }
  .content .home-left .btn {
    padding: 0.5rem 5rem;
    font-size: 1.4rem;
  }
  .about {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .about-right p {
    font-size: 1.2rem;
  }
  .about-right .btn {
    padding: 0.7rem 4rem;
    font-size: 1.2rem;
  }
  .about-left {
    margin-bottom: 2rem;
  }
  .about .about-left img {
    width: 400px;
  }
  .education-wrapper {
    /* flex-wrap: wrap; */
    justify-content: center;
    /* padding: 1.4rem 25%; */
  }
  .contact {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .contact .contact-right .btn {
    padding: 0.7rem 4rem;
    font-size: 1.2rem;
  }
  .footer-wrapper {
    padding: 1.4rem 10%;
  }
}
@media screen and (min-width: 320px) and (max-width: 750px) {
  .content {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  .content .home-left {
    margin-top: 1.5rem;
    text-align: center;
    font-size: 2rem;
    padding: 0;
  }
  .content .home-left .hello {
    font-size: 2.2rem;
  }
  .content .home-left .pe {
    font-size: 1.5rem;
  }
  .content .home-left .pe-desc {
    font-size: 1rem;
  }
  .content .home-left .btn {
    padding: 0.5rem 3rem;
    font-size: 1.2rem;
  }
  .about {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .education-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    padding: 1.4rem 2%;
  }
  .skill {
    text-align: center;
  }
  .project {
    padding: 1rem 5%;
  }
  .project .box .project-language p {
    padding: 0.2rem 0.7rem;
    font-size: 0.7rem;
    font-weight: 700;
  }

  .contact {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .footer-wrapper {
    flex-wrap: wrap;
    /* justify-content: center; */
  }
  .footer-wrapper .footer-mid {
    margin: 3rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}
@media (max-width: 1024px) {
  .nav-right {
    display: none;
  }
}
/* @media (min-width: 768px) {
  .mobile-nav {
    display: none;
  }

  .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .nav-right {
    display: none;
  }
} */
